@import '../lib/vars';

// ::::: BASE STYLES ::::: //
.googleLink {
  display: inline-block;
  text-decoration: none;
}

li {
  list-style: none;
}

a {
  text-decoration: none;
}

body {
  background: $white;
}

.modal {

}