.googleLink {
  display: inline-block;
  text-decoration: none;
}

li {
  list-style: none;
}

header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 7vh;
  background: grey;
  h1 {
    float: left;
  }
  ul {
    margin: 0;
    padding: 0;
    float: right;
    width: 30vw;
    height: 7vh;

    li {
      display: inline-block;
      float: right;
      height: 7vh;
      width: 7vh;

      ul {
        width: 20vw;
        height: 50vh;
        background: grey;
        margin-top: 1vh;

        li {
          width: 100%;
          height: 10vh;
          outline: 1px solid black;
        }
      }
    }
  }

  #gear, #bell {
    height: 5vh;
    width: 5vh;
    border-radius: 5px;
    float: right;
    margin-right: 1vw;
    margin-top: 1vh;
    background: pink;

    img {
      height: 4vh;
      width: 4vh;
      float: left;
      margin: 0.5vh;
      transition: 350ms all;

      &:hover {
        transform: rotate(700deg);
      }
    }

  }
}





.messanger-bar {
  margin: 0;
  padding: 0;
  width: 100vw;
  height: 7vh;
  position: fixed;
  bottom: 0;
  left: 0;
  background: grey;
  overflow: visible;
  outline: 1px solid black;

  &>* {
    float: right;
  }

  section {
    width: 20vw;
    height: 100%;
    position: absolute;
    right: 0;
    bottom: 0;
    background: grey;
    outline: 1px solid black;
    transition: 350ms all;
  }

  .visible-chat {
    height: 93vh;

    &>ul {
      margin: 0;
      padding: 0;
      float: right;
      width: 100%;
      height: 60vh;

      li {
        width: 100%;
        height: 7vh;
        float: right;
        border-bottom: 1px solid black;
        &:hover {
          background: black;
          color: white;
        }
      }
    }
  }
  .chat-header {
    background: black;
    color: white;
    width: 100%;
    height: 7vh;
    h5 {
      float: right;
      margin-right: 2vw;
    }
  }

  &>ul {
    margin: 0;
    padding: 0;
    position: absolute;
    right: 0;
    height: 100%;
    width: 80vw;
    background: grey;
    margin-right: 20vw;

    li {
      margin: 0;
      padding: 0;
      float: right;
      width: 20vw;
      height: 7vh;
      background: black;
      transition: 350ms all;
      bottom: 0;


    }

    ul, form {
      display: none;
    }
  }

  .displayed-convo {
    height: 40vh;
    transition: 350ms all;
    position: absolute;
    margin-bottom: 24vh;
    background: black;
    color: white;
    bottom: 0;
    &>ul, &>form {
      display: block;
    }

    &>ul {
      margin: 0;
      padding: 0;
      background: grey;
      height: 50vh;
      width: 20vw;
      overflow-x: scroll;
      outline: 1px solid black;

      li {
        margin: 0;
        padding: 0;
        height: 10vh;
        width: 100%;
        float: right;
        background: none;
        margin-bottom: 1vh;

        h5, p {
          padding: 0;
          margin-top: 0;
          margin-bottom: 0;
          width: 70%;
          height: 2vh;
          font-size: 2vh;
          color: black;
        }

      }
    }
    form {
      width: 20vw;
      height: 7vh;
      background: black;
    }

  }

  .message-header {
    width: 100%;
    height: 7vh;
    & * {
      float: right;
    }
    &>p {
      margin: 0;
      padding: 0;
      height: 7vh;
      margin-right: 2vw;
      color: white;
    }
    button {
      margin-right: 2vw;
    }
  }
  .sent-message {
    h5, p {
      float: right;
      text-align: right;
      margin-right: 5%;
    }

  }

  .recieved-message {
    h5, p {
      float: left;
      text-align: left;
      margin-left: 5%;
    }
  }
}

.modal {
  position: fixed;
  width: 100vw;
  height: 100vh;
  background: rgba(0,0,0,0.75);

  &>button {
    float: right;
  }

  &>div {
    float: left;
    width: 70vw;
    height: 70vh;
    margin-left: 25vh;
    margin-top: 15vh;
    background: blue;
    border-radius: 10px;

    * {
      float: left;
    }
    div {
      width: 1%;
      height: 50vh;
      margin-top: 1vh;
      background: black;
      border-radius: 10px;
      margin-left: 10%;

    }
    form {
      width: 30%;
      height: 40vh;
      background: pink;
      margin-left: 10%;
      margin-top: 5%;
      margin-bottom: 5%;
      border-radius: 10px;
    }
    a {
      clear: both;
      float: left;
      margin-left: 35%;

    }
  }
}

.test-drop {
  width: 30vw;
  height: 10vh;
  margin-top: 30vh;
  outline: 1px solid black;
  &>div {
    width: 100%;
    height: 10vh;
  }
  p{
    float: left;
    width: 15vw;
  }
  ul {
    margin: 0;
    padding: 0;
    width: 100%;
    overflow-x: scroll;
    height: 20vh;
    outline: 1px solid black;
    li {
      float: right;
      width: 100%;
    }
  }

  .dropdown-button {
    width: 10vh;
    height: 10vh;
    background: orange;
    float: right;
  }

}

.hide-drop {
  display: none;
}

.search-form {
  width: 60vw;
  height: 40vh;
  float: left;
  margin-left: 20vw;
  margin-top: 20vh;
  border: 1px solid black;
  border-radius: 10px;
  background: grey;

  &>p {
    width: 20vw;
    height: 5vh;
    font-size: 2vh;
    margin-left: 2vw;
  }
  div:first-of-type {
    margin-left: 2vw;
    width: 20vw;

    input {
      float: left;
      padding: 1vh 0;
      border-radius: 5px;
      width: 15vw;
    }

    button {
      width: 4vw;
      float: left;
      border: none;
      border-radius: 5px;
    }
  }

  &>:nth-child(3) {
    margin-left: 2vw;
    float: left;
    width: 6vw;
    height: 5vh;
    background: white;
    position: relative;
    &>div{
      width: 6vw;
      height: 5vh;
      float: left;
      margin: 0;
    }
    &>div>p {
      float: left;
      width: 1vw;
    }
    &>div>div {
      width: 5vh;
      height: 5vh;
      background: orange;
      float: right;

    }
    .custom-drop {
      width: 100%;
      float: left;
      margin: 0;
      padding: 0;
      background: white;
      outline: 1px solid black;
      height: 20vh;
      overflow-x: scroll;
    }
  }

  .search-date {
    width: 15vw;
    height: 5vh;
    outline: 1px solid black;
    float: left;
    &>* {
      float: left;
    }
    &>div{
      width: 15vw;
      height: 5vh;
    }

    &>div>div {

    }
  }
}
