@import '../../../style/lib/_vars.scss';

#profile-settings {
  float: left;
  width: 40vw;
  height: 80vh;
  margin-top: 10vh;
  margin-left: 30vw;
  background: $black;
  border-radius: 10px;


  &>p {
    float: left;
    width: 20vw;
    text-align: left;
    margin-left: 5vw;
    font-size: 3vh;
    color: $primary;
    margin-top: $gutter-sm;
  }

  &>form {
    float: left;
    width: 30vw;
    height: 60vh;
    border-radius: 10px;
    margin-left: 5vw;
    margin-top: $gutter-sm;

    ul {
      width: 100%;
      height: 5vh;
      float: left;
      overflow-x: scroll;

      li {
        width: auto;
        max-width: 25vw;
        min-width: 5vw;
        height: 4vh;
        border: 1px solid $black;
        background: rgba(0.1, 0.1, 0.1, 0.5);
        border-radius: 5px;
        display: inline-block;
        margin-left: $gutter-sm;

        & * {
          display: inline-block;
        }

        p:first-of-type {
          width: auto;
          max-width: 23vw;
          height: 3vh;
          margin-top: 0.75vh;
          color: $white;
          margin-left: 0.5vh;
          overflow: hidden;
        }
        &>:last-child {
          float: right;
          width: 1vw;
          height: 3vh;
          margin-top: 1vh;
          color: $primary;
          margin-right: 0.5vh;
          cursor: pointer;
        }
      }
      &>:first-child {
        margin-left: 0;
      }
    }

    button {
      background: $primary;
      color: $black;
      float: left;
      border: none;
      border-radius: 5px;
    }
    div>button {
      width: 30%;
      height: 3vh;
      margin-bottom: $gutter-sm;
      font-size: 2vh;
    }
    &>button:last-child  {
      width: 100%;
      height: 5vh;
      text-align: center;
      font-size: 3vh;
    }
    label {
      float: left;
      width: 100%;
      color: $primary;
    }
    select {
      width: 40%;
      float: left;
      width: 20%;
      padding: 1vh 5%;
      height: 5vh;
      border: none;
      margin: $gutter-sm 0;
    }

    input {
      float: left;
      width: 90%;
      height: 3vh;
      padding: 1vh 5%;
      border: none;
      border-radius: 5px;
      margin: $gutter-sm 0;
      background: $white;
      transition: 350ms all;

      &:focus {
        background: $black;
        color: $white;
      }
    }
    textarea {
      float: left;
      width: 90%;
      padding: 1vh 5%;
      height: 10vh;
      border: none;
      border-radius: 5px;
      margin: $gutter-sm 0;
      transition: 350ms all;

      &:focus {
        background: $black;
        color: $white;
      }
    }
  }
}
