.googleLink {
  display: inline-block;
  text-decoration: none; }

li {
  list-style: none; }

header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 7vh;
  background: grey; }
  header h1 {
    float: left; }
  header ul {
    margin: 0;
    padding: 0;
    float: right;
    width: 30vw;
    height: 7vh; }
    header ul li {
      display: inline-block;
      float: right;
      height: 7vh;
      width: 7vh; }
      header ul li ul {
        width: 20vw;
        height: 50vh;
        background: grey;
        margin-top: 1vh; }
        header ul li ul li {
          width: 100%;
          height: 10vh;
          outline: 1px solid black; }
  header #gear, header #bell {
    height: 5vh;
    width: 5vh;
    border-radius: 5px;
    float: right;
    margin-right: 1vw;
    margin-top: 1vh;
    background: pink; }
    header #gear img, header #bell img {
      height: 4vh;
      width: 4vh;
      float: left;
      margin: 0.5vh;
      transition: 350ms all; }
      header #gear img:hover, header #bell img:hover {
        transform: rotate(700deg); }

.messanger-bar {
  margin: 0;
  padding: 0;
  width: 100vw;
  height: 7vh;
  position: fixed;
  bottom: 0;
  left: 0;
  background: grey;
  overflow: visible;
  outline: 1px solid black; }
  .messanger-bar > * {
    float: right; }
  .messanger-bar section {
    width: 20vw;
    height: 100%;
    position: absolute;
    right: 0;
    bottom: 0;
    background: grey;
    outline: 1px solid black;
    transition: 350ms all; }
  .messanger-bar .visible-chat {
    height: 93vh; }
    .messanger-bar .visible-chat > ul {
      margin: 0;
      padding: 0;
      float: right;
      width: 100%;
      height: 60vh; }
      .messanger-bar .visible-chat > ul li {
        width: 100%;
        height: 7vh;
        float: right;
        border-bottom: 1px solid black; }
        .messanger-bar .visible-chat > ul li:hover {
          background: black;
          color: white; }
  .messanger-bar .chat-header {
    background: black;
    color: white;
    width: 100%;
    height: 7vh; }
    .messanger-bar .chat-header h5 {
      float: right;
      margin-right: 2vw; }
  .messanger-bar > ul {
    margin: 0;
    padding: 0;
    position: absolute;
    right: 0;
    height: 100%;
    width: 80vw;
    background: grey;
    margin-right: 20vw; }
    .messanger-bar > ul li {
      margin: 0;
      padding: 0;
      float: right;
      width: 20vw;
      height: 7vh;
      background: black;
      transition: 350ms all;
      bottom: 0; }
    .messanger-bar > ul ul, .messanger-bar > ul form {
      display: none; }
  .messanger-bar .displayed-convo {
    height: 40vh;
    transition: 350ms all;
    position: absolute;
    margin-bottom: 24vh;
    background: black;
    color: white;
    bottom: 0; }
    .messanger-bar .displayed-convo > ul, .messanger-bar .displayed-convo > form {
      display: block; }
    .messanger-bar .displayed-convo > ul {
      margin: 0;
      padding: 0;
      background: grey;
      height: 50vh;
      width: 20vw;
      overflow-x: scroll;
      outline: 1px solid black; }
      .messanger-bar .displayed-convo > ul li {
        margin: 0;
        padding: 0;
        height: 10vh;
        width: 100%;
        float: right;
        background: none;
        margin-bottom: 1vh; }
        .messanger-bar .displayed-convo > ul li h5, .messanger-bar .displayed-convo > ul li p {
          padding: 0;
          margin-top: 0;
          margin-bottom: 0;
          width: 70%;
          height: 2vh;
          font-size: 2vh;
          color: black; }
    .messanger-bar .displayed-convo form {
      width: 20vw;
      height: 7vh;
      background: black; }
  .messanger-bar .message-header {
    width: 100%;
    height: 7vh; }
    .messanger-bar .message-header * {
      float: right; }
    .messanger-bar .message-header > p {
      margin: 0;
      padding: 0;
      height: 7vh;
      margin-right: 2vw;
      color: white; }
    .messanger-bar .message-header button {
      margin-right: 2vw; }
  .messanger-bar .sent-message h5, .messanger-bar .sent-message p {
    float: right;
    text-align: right;
    margin-right: 5%; }
  .messanger-bar .recieved-message h5, .messanger-bar .recieved-message p {
    float: left;
    text-align: left;
    margin-left: 5%; }

.modal {
  position: fixed;
  width: 100vw;
  height: 100vh;
  background: rgba(0, 0, 0, 0.75); }
  .modal > button {
    float: right; }
  .modal > div {
    float: left;
    width: 70vw;
    height: 70vh;
    margin-left: 25vh;
    margin-top: 15vh;
    background: blue;
    border-radius: 10px; }
    .modal > div * {
      float: left; }
    .modal > div div {
      width: 1%;
      height: 50vh;
      margin-top: 1vh;
      background: black;
      border-radius: 10px;
      margin-left: 10%; }
    .modal > div form {
      width: 30%;
      height: 40vh;
      background: pink;
      margin-left: 10%;
      margin-top: 5%;
      margin-bottom: 5%;
      border-radius: 10px; }
    .modal > div a {
      clear: both;
      float: left;
      margin-left: 35%; }

.test-drop {
  width: 30vw;
  height: 10vh;
  margin-top: 30vh;
  outline: 1px solid black; }
  .test-drop > div {
    width: 100%;
    height: 10vh; }
  .test-drop p {
    float: left;
    width: 15vw; }
  .test-drop ul {
    margin: 0;
    padding: 0;
    width: 100%;
    overflow-x: scroll;
    height: 20vh;
    outline: 1px solid black; }
    .test-drop ul li {
      float: right;
      width: 100%; }
  .test-drop .dropdown-button {
    width: 10vh;
    height: 10vh;
    background: orange;
    float: right; }

.hide-drop {
  display: none; }

.search-form {
  width: 70vw;
  height: 40vh;
  float: left;
  margin-left: 15vw;
  margin-top: 20vh;
  border: 1px solid black;
  border-radius: 10px;
  background: grey; }
  .search-form > p {
    width: 20vw;
    height: 5vh;
    font-size: 2vh;
    margin-left: 2vw; }
  .search-form div:first-of-type {
    margin-left: 2vw;
    width: 20vw; }
    .search-form div:first-of-type input {
      float: left;
      padding: 1vh 0;
      border-radius: 5px;
      width: 15vw; }
    .search-form div:first-of-type button {
      width: 4vw;
      float: left;
      border: none;
      border-radius: 5px; }
  .search-form > :nth-child(3) {
    margin-left: 2vw;
    float: left;
    width: 6vw;
    height: 5vh;
    background: white;
    position: relative; }
    .search-form > :nth-child(3) > div {
      width: 6vw;
      height: 5vh;
      float: left;
      margin: 0; }
    .search-form > :nth-child(3) > div > p {
      float: left;
      width: 1vw; }
    .search-form > :nth-child(3) > div > div {
      width: 5vh;
      height: 5vh;
      background: orange;
      float: right; }
    .search-form > :nth-child(3) .custom-drop {
      width: 100%;
      float: left;
      margin: 0;
      padding: 0;
      background: white;
      outline: 1px solid black;
      height: 20vh;
      overflow-x: scroll; }
  .search-form .search-date {
    width: 18vw;
    height: 5vh;
    margin-left: 2vw;
    float: left; }
    .search-form .search-date > * {
      float: left; }
    .search-form .search-date > div {
      width: 8vw;
      height: 5vh;
      margin: 0; }
      .search-form .search-date > div p {
        float: left;
        margin: 0;
        padding: 0; }
    .search-form .search-date > div > div {
      display: inline-block;
      background: pink;
      width: 7vw;
      height: 5vh;
      margin: 0;
      outline: 1px solid black; }
      .search-form .search-date > div > div p {
        margin: 0;
        float: left; }
      .search-form .search-date > div > div > div {
        position: relative;
        width: 5vh;
        height: 5vh;
        background: orange;
        margin: 0;
        float: right; }
    .search-form .search-date .custom-drop {
      width: 7vw;
      float: left;
      margin: 0;
      padding: 0;
      background: white;
      outline: 1px solid black;
      height: 20vh;
      overflow-x: scroll; }
      .search-form .search-date .custom-drop li {
        margin: 0;
        padding: 0;
        float: left;
        width: 100%;
        background: white; }

/*# sourceMappingURL=data:application/json;charset=utf-8;base64,eyJ2ZXJzaW9uIjozLCJzb3VyY2VzIjpbXSwibmFtZXMiOltdLCJtYXBwaW5ncyI6IiIsImZpbGUiOiJidW5kbGUtNDVlN2ExMzU4Nzc1OWNiNTFlMTIuY3NzIiwic291cmNlUm9vdCI6IiJ9*/