// ::::: $LANDING/HOME PAGE ::::: //

@import '../../style/lib/_vars.scss';

// --- BACKGROUND --- //
body {
 background-image: url('../../style/lib/pictures/UltraMusicFestival.jpg');
}
// --- GIGGLE STYLE --- //
.giggle-landing {
  text-align: center;
  color: $primary;
  height: 20vh;
  width: 40vw;
  font-size: 10vw;
  margin-top: 15vh;
  margin-left: 30vw;
  margin-bottom: 2vh;
  -webkit-text-stroke: 2px $primary;
  position: relative;
  transition: 1000ms all;
  h1 {
    position: absolute;
    float: left;
    width: 80%;
    font-size: 15vh;
    text-align: center;
    margin-left: 10%;
    transition: 1500ms all;
    z-index: 9000000;
  }
}

.giggle-landing-hidden {
  transition: 1500ms all;
  position: static;
  margin-bottom: 4.8vh;

  h1 {
    top: 0;
    left: 0;

  }
}
