// ::::: $LANDING/HOME PAGE ::::: //

@import '../../style/lib/_vars.scss';

// --- BACKGROUND --- //
body {
 background-image: url('../../style/lib/pictures/UltraMusicFestival.jpg');
}
// --- GIGGLE STYLE --- //
.giggle-landing {
  font-family: $font-primary;
  text-align: center;
  color: $secondary;
  font-size: 10vw;
  margin-top: 15vw;
  margin-bottom: 2vw;
  -webkit-text-stroke: 2px $primary;
}