// ::::: $HEADER BAR - FIXED FOR ALL PAGES$ ::::: //
@import '../../style/lib/_vars.scss';

header {
  position: fixed;
  top: 0;
  width: 100%;
  height: 7vh;
  background: $black;

  h2 {
    float: left;
    font-size: 5vh;
    color: $primary;
    margin-left: 2.5%;
    text-align: center;
    margin-top: .5%;
    position: relative;
  }

  ul {
    float: right;
    width: 30vw;
    height: 7vh;
    li {
      float: left;
      margin-left: $gutter-sm * 3;
      display: inline-block;
      font-family: helvetica;

      a {
        color: $primary;
        float: left;
        height: 3vh;
        font-size: 2.5vh;
        margin-top: 2vh;
      }
    }

    &>:first-child, &>:nth-child(2) {
      float: right;
      margin-right: $gutter-sm;
      margin-left: 0;
      position: relative;

      ul {
        width: 20vw;
        height: auto;
        background: $black;
        margin-top: 7vh;
        position: absolute;
        right: 0;


        li {
          float: left;
          margin: 0 2.5%;
          padding: 0;
          width: 95%;
          height: 10vh;
          color: $primary;
          transition: 350ms all;
          font-size: 3vh;

          &:hover {
            background: $primary;
            color: $black;
            a {
              color: $black;
              width: 100%;
              height: 100%;
            }
          }
        }
      }
    }

  }
}
