@import '../../../style/lib/_vars.scss';

#booking-form {
  float: left;
  width: 30vw;
  height: 70vh;
  margin-left: 40vw;
  margin-top: 15vh;
  background: $black;
  border-radius: 5px;

  input, textarea, button {
    float: left;
    clear: both;
    margin-left: 5%;
    height: 4vh;
    border: none;
    border-radius: 5px;
  }
  input[type='text'] {
    width: 90%;
  }

  input[type='time'] {
    clear: none;
  }
}
